<p>Hello <%= @user.name %> It looks like you've been matched!</p>
<% @group = @user.group %>
<% render @group %>

<p>Click here to decline: <%= accept_user_url(@user.token) %></p>

<p>Click here to decline: <%= decline_user_url(@user.token) %></p>
