/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.registerform {
	margin: 0 auto;
	width: 290px;
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	border-radius: 6px;
	padding: 20px;
}

.registerform input {
	width: 275px;
}

.header-container {
	height: 60px;
	margin-bottom: 25px;
	min-height: 50px;
	padding-right: 20px;
	padding-left: 20px;
	color: #d44413;
	background-color: #FFF;
	border: 1px solid #EEE;
}

.title {
	color: #d44413;
	display: inline;
	vertical-align: middle;
}

#advanced {
}
#advanced:focus{
   	display: none;
}

#advanced select{
	width: 100px;
	background-color: #FFF;
	height: 20px;
	margin: 0px;


}

#options {
-webkit-transition: -webkit-transform 3s ease-in
}
