<div class="header-container">
  <div class = "container clearfix">
  	<a href = "/"><h1 class = "title pull-left">
  		Victual
  	</h1></a>
  	<h5 class = "title pull-right" style = "padding-top: 10px;">
  		Greet, Meet, Eat
  	</h5>
	</div>
</div>
